In [1]:
dataName = 'crudeOilFeb'
dataFrequency='5m'

import os
import sys  
module_path = os.path.abspath('../../'+os.path.join('.'))

sys.path.append(module_path)

print("module_path >>> " + module_path + " <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized")

module_path >>> /Users/493055/Desktop/dev/erai-v0.3/src <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized

In [2]:
from dataPreparation import *

from dataPreparation.platform import createPlatform, createFundamentalFeatures, createFundamentalPrevCurrDifferentBasedFeatures

baseDf = createPlatform(dataName,dataFrequency)

baseAttribsDf = createFundamentalFeatures(baseDf)

baseAttribsDiffDf = createFundamentalPrevCurrDifferentBasedFeatures(baseDf)

into method doBasicOperation
 retrieving values configured in >>> /Users/493055/Desktop/dev/erai-v0.3/src/config/config.json
before return statement of method doBasicOperation
added INPUT FEATURES >>> 4 count >>> open-high-low-close
added INPUT FEATURES >>> 4 count >>> dopen-dhigh-dlow-dclose

In [3]:
from dataPreparation.platform import saveFeatureToDisk
saveFeatureToDisk(dataName,dataFrequency,baseAttribsDf,'001_open_close_high_low')
saveFeatureToDisk(dataName,dataFrequency,baseAttribsDf,'002_dopen_dclose_dhigh_dlow')

 checking if folder existis >>>/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features
 checking if folder existis >>>/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features

'/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features/002_dopen_dclose_dhigh_dlow.csv'

In [4]:
baseAttribsDf.tail()

      open  high   low  close
6892  3629  3634  3629   3634
6893  3634  3637  3632   3636
6894  3636  3637  3621   3624
6895  3623  3626  3620   3623
6896  3622  3625  3620   3621

In [5]:
baseAttribsDiffDf.tail()

      dopen  dhigh  dlow  dclose
6891   -7.0   -7.0   3.0     4.0
6892    5.0    3.0   3.0     2.0
6893    2.0    0.0 -11.0   -12.0
6894  -13.0  -11.0  -1.0    -1.0
6895   -1.0   -1.0   0.0    -2.0

In [6]:
from dataPreparation.dataAnalyticFeatures import getSimpleMovingAverageFeatures
from dataPreparation.platform import saveFeatureToDisk

smaRangeDf=getSimpleMovingAverageFeatures(baseAttribsDf)
saveFeatureToDisk(dataName,dataFrequency,smaRangeDf,'003_simple_moving_average')
smaRangeDf.head()

 checking if folder existis >>>/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features

,SMA_3,SMA_5,SMA_8,SMA_10,SMA_12,SMA_13,SMA_15,SMA_20,SMA_26,SMA_30,...,SMA_100,SMA_110,SMA_120,SMA_130,SMA_140,SMA_150,SMA_160,SMA_170,SMA_180,SMA_190
0,0.000000,0.0,0.000,0.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,1262.666667,757.6,473.500,378.8,315.666667,291.384615,252.533333,189.40,145.692308,126.266667,...,37.88,34.436364,31.566667,29.138462,27.057143,25.253333,23.67500,22.282353,21.044444,19.936842
2,2525.000000,1515.0,946.875,757.5,631.250000,582.692308,505.000000,378.75,291.346154,252.500000,...,75.75,68.863636,63.125000,58.269231,54.107143,50.500000,47.34375,44.558824,42.083333,39.868421
3,3788.333333,2273.0,1420.625,1136.5,947.083333,874.230769,757.666667,568.25,437.115385,378.833333,...,113.65,103.318182,94.708333,87.423077,81.178571,75.766667,71.03125,66.852941,63.138889,59.815789
4,3789.666667,3031.4,1894.625,1515.7,1263.083333,1165.923077,1010.466667,757.85,582.961538,505.233333,...,151.57,137.790909,126.308333,116.592308,108.264286,101.046667,94.73125,89.158824,84.205556,79.773684