In [1]:
dataName = 'crudeOilFeb'
dataFrequency='5m'

import os
import sys  
module_path = os.path.abspath('../../'+os.path.join('.'))

sys.path.append(module_path)

print("module_path >>> " + module_path + " <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized")

In [2]:
from dataPreparation import *

from dataPreparation.platform import createPlatform, createFundamentalFeatures

baseDf = createPlatform(dataName,dataFrequency)

baseInputDf = createFundamentalFeatures(baseDf)  # data with open close high low

into method doBasicOperation
 retrieving values configured in >>> /Users/493055/Desktop/dev/erai-v0.3/src/config/config.json
before return statement of method doBasicOperation
added INPUT FEATURES >>> 4 count >>> open-high-low-close

In [3]:
baseInputDf.tail()

      open  high   low  close
6892  3629  3634  3629   3634
6893  3634  3637  3632   3636
6894  3636  3637  3621   3624
6895  3623  3626  3620   3623
6896  3622  3625  3620   3621

In [4]:
dataDf = baseInputDf

In [5]:
from dataPreparation.platform import getFeatureData

smaDf = getFeatureData(dataName,dataFrequency,'003_simple_moving_average.csv')

smaDf.head()

,SMA_3,SMA_5,SMA_8,SMA_10,SMA_12,SMA_13,SMA_15,SMA_20,SMA_26,SMA_30,...,SMA_100,SMA_110,SMA_120,SMA_130,SMA_140,SMA_150,SMA_160,SMA_170,SMA_180,SMA_190
0,0.000000,0.0,0.000,0.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,1262.666667,757.6,473.500,378.8,315.666667,291.384615,252.533333,189.40,145.692308,126.266667,...,37.88,34.436364,31.566667,29.138462,27.057143,25.253333,23.67500,22.282353,21.044444,19.936842
2,2525.000000,1515.0,946.875,757.5,631.250000,582.692308,505.000000,378.75,291.346154,252.500000,...,75.75,68.863636,63.125000,58.269231,54.107143,50.500000,47.34375,44.558824,42.083333,39.868421
3,3788.333333,2273.0,1420.625,1136.5,947.083333,874.230769,757.666667,568.25,437.115385,378.833333,...,113.65,103.318182,94.708333,87.423077,81.178571,75.766667,71.03125,66.852941,63.138889,59.815789
4,3789.666667,3031.4,1894.625,1515.7,1263.083333,1165.923077,1010.466667,757.85,582.961538,505.233333,...,151.57,137.790909,126.308333,116.592308,108.264286,101.046667,94.73125,89.158824,84.205556,79.773684

In [6]:
from dataPreparation.dataAnalyticFeatures import getGuppyMultipleMovingAverageFeatures
from dataPreparation.platform import saveFeatureToDisk

gmmaDf=getGuppyMultipleMovingAverageFeatures(baseInputDf,smaDf)

/Users/493055/Desktop/dev/erai-v0.3/src/dataPreparation/dataAnalyticFeatures.py:318: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmmaDf['GMMA_'+str(time_period)][1] = ( gmmaDf['close'][1] - SMA[1] ) * M + SMA[1]

In [7]:
gmmaDf.head(15)

,GMMA_3,GMMA_5,GMMA_8,GMMA_10,GMMA_12,GMMA_15,GMMA_20,GMMA_30,GMMA_35,GMMA_40,GMMA_45,GMMA_50,GMMA_60
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3157.0,2441.333333,1782.555556,1505.636364,1301.461538,1081.000,842.285714,583.161290,505.222222,445.512195,399.130435,360.960784,303.196721
3,1896.0,1264.000000,842.666667,689.454545,583.384615,474.000,361.142857,244.645161,210.666667,184.975610,164.869565,148.705882,124.327869
4,1896.0,1264.000000,842.666667,689.454545,583.384615,474.000,361.142857,244.645161,210.666667,184.975610,164.869565,148.705882,124.327869
5,1896.0,1264.000000,842.666667,689.454545,583.384615,474.000,361.142857,244.645161,210.666667,184.975610,164.869565,148.705882,124.327869
6,1895.0,1263.333333,842.222222,689.090909,583.076923,473.750,360.952381,244.516129,210.555556,184.878049,164.782609,148.627451,124.262295
7,1895.0,1263.333333,842.222222,689.090909,583.076923,473.750,360.952381,244.516129,210.555556,184.878049,164.782609,148.627451,124.262295
8,1894.5,1263.000000,842.000000,688.909091,582.923077,473.625,360.857143,244.451613,210.500000,184.829268,164.739130,148.588235,124.229508
9,1894.5,1263.000000,842.000000,688.909091,582.923077,473.625,360.857143,244.451613,210.500000,184.829268,164.739130,148.588235,124.229508
10,1893.0,1262.000000,841.333333,688.363636,582.461538,473.250,360.571429,244.258065,210.333333,184.682927,164.608696,148.470588,124.131148
11,1894.0,1262.666667,841.777778,688.727273,582.769231,473.500,360.761905,244.387097,210.444444,184.780488,164.695652,148.549020,124.196721
12,1892.5,1261.666667,841.111111,688.181818,582.307692,473.125,360.476190,244.193548,210.277778,184.634146,164.565217,148.431373,124.098361
13,1893.0,1262.000000,841.333333,688.363636,582.461538,473.250,360.571429,244.258065,210.333333,184.682927,164.608696,148.470588,124.131148
14,1894.0,1262.666667,841.777778,688.727273,582.769231,473.500,360.761905,244.387097,210.444444,184.780488,164.695652,148.549020,124.196721
15,1894.5,1263.000000,842.000000,688.909091,582.923077,473.625,360.857143,244.451613,210.500000,184.829268,164.739130,148.588235,124.229508

In [8]:
saveFeatureToDisk(dataName,dataFrequency,gmmaDf,'006_guppy_multiple_moving_average')

 checking if folder existis >>>/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features

'/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features/006_guppy_multiple_moving_average.csv'