In [1]:
dataName = 'crudeOilFeb'
dataFrequency='5m'

import os
import sys  
module_path = os.path.abspath('../../'+os.path.join('.'))

sys.path.append(module_path)

print("module_path >>> " + module_path + " <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized")

module_path >>> /Users/493055/Desktop/dev/erai-v0.3/src <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized

In [2]:
from dataPreparation import *

from dataPreparation.platform import createPlatform, createFundamentalFeatures, createFundamentalPrevCurrDifferentBasedFeatures

baseDf = createPlatform(dataName,dataFrequency)

baseInputDf = createFundamentalFeatures(baseDf)  # data with open close high low

into method doBasicOperation
 retrieving values configured in >>> /Users/493055/Desktop/dev/erai-v0.3/src/config/config.json
before return statement of method doBasicOperation
added INPUT FEATURES >>> 4 count >>> open-high-low-close

In [3]:
baseInputDf.tail()

      open  high   low  close
6892  3629  3634  3629   3634
6893  3634  3637  3632   3636
6894  3636  3637  3621   3624
6895  3623  3626  3620   3623
6896  3622  3625  3620   3621

In [4]:
dataDf = baseInputDf

In [5]:
from dataPreparation.dataAnalyticFeatures import getExponentialMovingAverageFeatures
from dataPreparation.platform import saveFeatureToDisk

emaDf=getExponentialMovingAverageFeatures(baseInputDf)
saveFeatureToDisk(dataName,dataFrequency,emaDf,'004_exponential_moving_average')
emaDf.head()

 checking if folder existis >>>/Users/493055/Desktop/dev/erai-v0.3/data/crudeOilFeb/processed/5m/features

,ema_3,ema_5,ema_8,ema_10,ema_12,ema_13,ema_15,ema_20,ema_26,ema_30,...,ema_110,ema_120,ema_130,ema_140,ema_150,ema_160,ema_170,ema_180,ema_190,ema_200
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2840.50,2104.111111,1496.271605,1252.049587,1075.727811,1004.836735,887.687500,687.070295,540.326475,472.942768,...,135.256716,124.171710,114.765923,106.684674,99.666594,93.514834,88.078315,83.239156,78.904032,74.998094
2,2841.75,2104.888889,1496.765432,1252.446281,1076.059172,1005.142857,887.953125,687.269841,540.480110,473.075963,...,135.293077,124.205041,114.796690,106.713244,99.693259,93.539833,88.101843,83.261378,78.925084,75.018094
3,2843.50,2106.222222,1497.728395,1253.256198,1076.757396,1005.795918,888.531250,687.718821,540.834019,473.386056,...,135.382193,124.286866,114.872327,106.783562,99.758958,93.601481,88.159912,83.316260,78.977111,75.067548
4,2844.00,2106.666667,1498.074074,1253.553719,1077.017751,1006.040816,888.750000,687.891156,540.971193,473.506764,...,135.417580,124.319377,114.902395,106.811529,99.785097,93.626018,88.183031,83.338115,78.997834,75.087250