In [1]:
dataName = 'crudeOilFeb'
dataFrequency='5m'

import os
import sys  
module_path = os.path.abspath('../../'+os.path.join('.'))

sys.path.append(module_path)

%matplotlib notebook

print("module_path >>> " + module_path + " <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized")

module_path >>> /Users/493055/Desktop/dev/erai-v0.3/src <<< appended to sys path - Mandatory for the pythons files in src folder to be recognized

In [2]:
# import numpy as np
# import pylab as pl
# from matplotlib import collections  as mc

# lines = [[(0, 1), (1, 1)], [(2, 3), (3, 3)], [(1, 2), (1, 3)]]
# c = np.array([(1, 0, 0, 1), (0, 1, 0, 1), (0, 0, 1, 1)])

# lc = mc.LineCollection(lines, colors=c, linewidths=2)
# fig, ax = pl.subplots()
# ax.add_collection(lc)
# ax.autoscale()
# ax.margins(0.1)

In [3]:
#class matplotlib.collections.LineCollection(segments, linewidths=None, colors=None, antialiaseds=None, linestyles='solid', offsets=None, transOffset=None, norm=None, cmap=None, pickradius=5, zorder=2, facecolors='none', **kwargs)[source]

In [5]:
from visualization import *

from dataPreparation.platform import getFeatureData
from visualization.dataAnalyticsVisualization import displayMovingAverageChart
smaDf = getFeatureData(dataName,dataFrequency,'003_simple_moving_average.csv')
emaDf = getFeatureData(dataName,dataFrequency,'004_exponential_moving_average.csv')
lwmaDf = getFeatureData(dataName,dataFrequency,'005_linear_weighted_moving_average.csv')
gmmaDf = getFeatureData(dataName,dataFrequency,'006_guppy_multiple_moving_average.csv')

smaDf.shape, emaDf.shape, lwmaDf.shape, gmmaDf.shape

((6897, 28), (6897, 29), (6897, 23), (6896, 13))

In [6]:
#smaDf.head()
cleaned_smaDf = smaDf.drop(smaDf[:3].index,axis=0)
cleaned_emaDf = emaDf.drop(0,axis=0)
cleaned_lwmaDf = lwmaDf.drop(lwmaDf[:11].index,axis=0)
cleaned_gmmaDf = gmmaDf.drop(gmmaDf[:2].index,axis=0)

In [7]:
cleaned_smaDf.head()

,SMA_3,SMA_5,SMA_8,SMA_10,SMA_12,SMA_13,SMA_15,SMA_20,SMA_26,SMA_30,...,SMA_100,SMA_110,SMA_120,SMA_130,SMA_140,SMA_150,SMA_160,SMA_170,SMA_180,SMA_190
3,3788.333333,2273.0,1420.625,1136.5,947.083333,874.230769,757.666667,568.25,437.115385,378.833333,...,113.65,103.318182,94.708333,87.423077,81.178571,75.766667,71.03125,66.852941,63.138889,59.815789
4,3789.666667,3031.4,1894.625,1515.7,1263.083333,1165.923077,1010.466667,757.85,582.961538,505.233333,...,151.57,137.790909,126.308333,116.592308,108.264286,101.046667,94.73125,89.158824,84.205556,79.773684
5,3791.333333,3789.8,2368.625,1894.9,1579.083333,1457.615385,1263.266667,947.45,728.807692,631.633333,...,189.49,172.263636,157.908333,145.761538,135.350000,126.326667,118.43125,111.464706,105.272222,99.731579
6,3792.000000,3790.6,2842.625,2274.1,1895.083333,1749.307692,1516.066667,1137.05,874.653846,758.033333,...,227.41,206.736364,189.508333,174.930769,162.435714,151.606667,142.13125,133.770588,126.338889,119.689474
7,3791.333333,3791.2,3316.375,2653.1,2210.916667,2040.846154,1768.733333,1326.55,1020.423077,884.366667,...,265.31,241.190909,221.091667,204.084615,189.507143,176.873333,165.81875,156.064706,147.394444,139.636842

In [8]:
displayMovingAverageChart(cleaned_smaDf)

/Users/493055/Desktop/dev/erai-v0.3/src/visualization/dataAnalyticsVisualization.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma_chart_df['curr_index'] = ma_chart_df.index

Error executing method >>>
Traceback (most recent call last):
  File "/Users/493055/Desktop/dev/erai-v0.3/src/visualization/dataAnalyticsVisualization.py", line 89, in displayMovingAverageChart
    fig, ax = pl.subplots()
NameError: name 'pl' is not defined

Traceback (most recent call last):
  File "/Users/493055/Desktop/dev/erai-v0.3/src/visualization/dataAnalyticsVisualization.py", line 89, in displayMovingAverageChart
NameError: [<FrameSummary file /Users/493055/Desktop/dev/erai-v0.3/src/visualization/dataAnalyticsVisualization.py, line 89 in displayMovingAverageChart>]

False

In [ ]:
displayMovingAverageChart(cleaned_emaDf)

In [ ]:
displayMovingAverageChart(cleaned_lwmaDf)

In [ ]:
displayMovingAverageChart(cleaned_gmmaDf)